[Unit]
Description=Mount NAS pool mergerfs
Requires=mnt-nas-data1.mount
Requires=mnt-nas-data2.mount
Requires=mnt-HDD.mount
After=mnt-nas-data1.mount
After=mnt-nas-data2.mount
After=mnt-HDD.mount
Before=docker.service

[Service]
Type=simple
KillMode=none
ExecStart=/usr/bin/mergerfs \
  -f \
  -o allow_other,use_ino,cache.files=partial,dropcacheonclose=true,category.create=pfrd \
  /mnt/nas/data* \
  /mnt/nas/pool
ExecStop=/bin/fusermount -uz /mnt/nas/pool
Restart=on-failure

[Install]
WantedBy=multi-user.target
