[Unit]
Description=Mount NAS data2
After=network.target

[Mount]
What=192.168.1.160:/volume2/data2
Where=/mnt/nas/data2
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target